<p class="bg-info text-center" ng-show="productDetails.environment_type == 'DEVELOPMENT'" style="padding: 20px">DEVELOPMENT MODE</p>

<!-- Progress Tracker Section -->
<div id="progress-tracker" class="progress-wrapper text-center">
  <div class="step-wrapper">
    <div class="circular active">
      <i class="fa fa-2x fa-shopping-cart" style="color: #FFFFFF; margin-top: 10px;"></i>
    </div>
    <span class="progress-label active">CHECKOUT</span>
  </div>
  <div class="step-wrapper">
    <div class="circular" ng-class="{'active': state > 1}">
      <i class="fa fa-2x fa-truck" style="color: #FFFFFF; margin-top: 10px;"></i>
    </div>
    <span class="progress-label" ng-class="{'active': state > 1}">SHIPPING DETAILS</span>
  </div>
  <div class="step-wrapper">
    <div class="circular" ng-class="{'active': state > 2}">
      <i class="fa fa-2x fa-credit-card" style="color: #FFFFFF; margin-top: 10px;"></i>
    </div>
    <span class="progress-label" ng-class="{'active': state > 2}">PAYMENT DETAILS</span>
  </div>
  <div class="step-wrapper">  
    <div class="circular" ng-class="{'active': state > 3}">
      <i class="fa fa-2x fa-check" style="color: #FFFFFF; margin-top: 10px;"></i>
    </div>
    <span class="progress-label" ng-class="{'active': state > 3}">PAYMENT CONFIRM</span>
  </div>
  <div class="line-wrapper">
    <span class="progress-line" ng-class="{2:'line-active-1', 3:'line-active-2', 4:'line-active-3'}[state]"></span>
    <span class="progress-line"></span>
  </div>
</div>

<!-- Header Section -->
<header class="wrapper">
    <div class="inner-wrapper">
      <img class="store-logo" src={{productDetails.merchant_image_url}} alt={{productDetails.merchant_name}}>
    </div>
</header>

<!-- Content Section -->
<div ui-view>

</div>