<div class="wrapper animate-show">

  <div class="tab">
    <h3>PAYMENT COMPLETE</h3>
    <div class="inner-wrapper" ng-if="transactionDetails.payment_type == 'credit_card'">
      <span class="text-label pull-left">PAYMENT TYPE : {{ transactionDetails.payment_type }}</span>
      <span class="text-label pull-right">STATUS : {{ transactionDetails.transaction_status }}</span>
    </div>
    <div class="inner-wrapper inner-content" ng-if="transactionDetails.payment_type == 'bank_transfer'">
        <p align="justify">Thank you for purchasing our product. Please transfer the total amount transaction to Virtual Account number below.</p>
        <span class="text-label big text-center">{{ transactionDetails.permata_va_number}}</span>
    </div>
  </div>
  
<!--   <div class="tab middle">
    <div class="inner-wrapper">
        <p align="justify">Thank you for purchasing our product. Please transfer the total amount transaction to Virtual Account number below.</p>
        <span class="text-label big text-center">{{ transactionDetails.permata_va_number}}</span>
    </div>
  </div> -->

  <div class="tab middle">
    <h5>PURCHASED PRODUCTS</h5>
    <div class="inner-wrapper">
      <!-- Row 1 -->
      <div class="row item">
        <div class="col-md-5 col-xs-5">
          <img class="item-image" src="productDetails.image_url[0]">
        </div>
        <div class="col-md-7 col-xs-7">
          <span class="text-label medium text-right">{{productDetails.name}}</span>
          <span class="text-label text-right">{{productDetails.price | mycurrency}}</span>
        </div>
      </div>
      
      <hr class="hr-product" ng-show="purchasedProducts.length != 1"/>
      
      <!-- Row 3 -->
      <div class="row item" ng-show="purchasedProducts.length != 1">
        <div class="col-md-8 col-xs-6">
          <span class="text-label">Total</span>
        </div>
        <div class="col-md-4 col-xs-6">
          <span class="text-label text-right">{{ productDetails.totalAmount | mycurrency }}</span>
        </div>
      </div>
    
    </div>

  </div>

  <div class="tab middle">
    <h5>SHIPPING INFORMATION</h5>
    <div class="inner-wrapper">
      
      <p><span class="text-label big">{{ shippingDetails.full_name}}</span>
      {{ shippingDetails.address }} <br/>
      {{ shippingDetails.district.nama_kecamatan}}, {{shippingDetails.city.nama_kota}}, {{shippingDetails.province.nama_propinsi}}<br/>
      {{ "Phone : +62" + shippingDetails.phone_number }}</p>
                  
    </div>

  </div>

</div>
