<!-- Header Section -->
<header class="wrapper">
    <div class="inner-wrapper">
      <img src="/assets/img/dummy-data/storelogo.png" alt="Store Logo">
    </div>
</header>

<form name="shippingForm" ng-submit="onSubmit()">
  <div class="wrapper tab">    
      <h5>Add Address</h5> 
      <div class="inner-wrapper inner-content">  
        <p>Please complete your shipping details below. All fields are required.</p>

              <div class="form-group">
                <span class="text-label">FULL NAME</span>
                <div class="right-inner-addon">
                  <input type="text" class="form-control" name="firstname" ng-model="shippingDetails.full_name" required>
                  <div ng-show="shippingForm.$submitted || shippingForm.firstname.$touched">
                    <i class="glyphicon glyphicon-ok" ng-show="shippingForm.firstname.$valid"></i>
                    <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.firstname.$valid"></i>
                    <span class="error-message" ng-show="shippingForm.firstname.$error.required">First Name is required.</span>
                  </div>
                </div>
              </div>
            <div class="form-group">
              <span class="text-label">PHONE NUMBER</span>
              <div class="right-inner-addon">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">+62</span>
                  <input type="text" class="form-control" name="phonenumber" maxlength="11" ng-model="shippingDetails.phone_number" validation-type="phonenumber" required>
                </div>
                <div ng-show="shippingForm.$submitted || shippingForm.phonenumber.$touched">
                  <i class="glyphicon glyphicon-ok" ng-show="shippingForm.phonenumber.$valid"></i>
                  <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.phonenumber.$valid"></i>
                  <span class="error-message" ng-show="shippingForm.phonenumber.$error.required">Phone Number is required.</span>
                  <span class="error-message" ng-show="shippingForm.phonenumber.$error.phonenumber">Please input a valid phone number.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <span class="text-label">ADDRESS</span>
              <div class="right-inner-addon">
                <textarea rows="4" class="form-control" name="address" ng-model="shippingDetails.address" required></textarea>
                <div ng-show="shippingForm.$submitted || shippingForm.address.$touched">
                  <i class="glyphicon glyphicon-ok" ng-show="shippingForm.address.$valid"></i>
                  <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.address.$valid"></i>
                  <span class="error-message" ng-show="shippingForm.address.$error.required">Address is required.</span>
                </div>
              </div>
            </div>
            <div class="form-group" ng-init="getProvinceList()">
              <span class="text-label">PROVINCE</span>
                <div class="right-inner-addon">
                  <select name="province" ng-model="shippingDetails.province" ng-change="getCityList()" ng-options="province.nama_propinsi for province in provinces | orderBy: nama_propinsi" required>
                  </select>
                  <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                  <div ng-show="shippingForm.$submitted || shippingForm.province.$touched">
                    <span class="error-message" ng-show="shippingForm.province.$error.required">Please select your province.</span>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <span class="text-label" ng-class="{ 'disabled': !shippingDetails.province }">CITY</span>
                <div class="right-inner-addon">
                  <select name="city" ng-model="shippingDetails.city" ng-change="getDistrictList()" ng-options="city.nama_kota for city in cities.kota | orderBy: nama_kota" ng-disabled="!shippingDetails.province" required>                   
                  </select>
                  <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                  <div ng-show="shippingForm.$submitted || shippingForm.city.$touched">
                    <span class="error-message" ng-show="shippingForm.city.$error.required">Please select your city.</span>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <span class="text-label" ng-class="{ 'disabled': !shippingDetails.province }">DISTRICT</span>
                <div class="right-inner-addon">
                  <select name="district" ng-model="shippingDetails.district" ng-options="district.nama_kecamatan for district in districts.kecamatan | orderBy: nama_kecamatan"  ng-disabled="!shippingDetails.city" required>
                  </select>
                  <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                  <div ng-show="shippingForm.$submitted || shippingForm.district.$touched">
                    <span class="error-message" ng-show="shippingForm.district.$error.required">Please select your district.</span>
                  </div>
              </div>
            </div>
        
      </div>
  </div>

  <div class="wrapper">
      <div class="inner-wrapper">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
            <a ui-sref="shippingDetails" class="btn btn-default pull-left" style="width: 90%">CANCEL</a>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
            <input type="submit" class="btn btn-primary pull-right" style="width: 90%" value="SAVE & CONTINUE" />
          </div>
      </div>
  </div>
</form>