<!-- Header Section -->
<div class="progress-wrapper text-center">
  <div class="step-wrapper">
    <div class="circular active">
      <i class="fa fa-2x fa-shopping-cart" style="color: #FFFFFF; margin-top: 10px;"></i>
    </div>
    <span class="progress-label active">CHECKOUT</span>
  </div>
  <div class="step-wrapper">
    <div class="circular">
      <i class="fa fa-2x fa-truck" style="color: #FFFFFF; margin-top: 10px;"></i>
    </div>
    <span class="progress-label">SHIPPING DETAILS</span>
  </div>
  <div class="step-wrapper">
    <div class="circular">
      <i class="fa fa-2x fa-credit-card" style="color: #FFFFFF; margin-top: 10px;"></i>
    </div>
    <span class="progress-label">PAYMENT DETAILS</span>
  </div>
  <div class="step-wrapper">  
    <div class="circular">
      <i class="fa fa-2x fa-check" style="color: #FFFFFF; margin-top: 10px;"></i>
    </div>
    <span class="progress-label">PAYMENT CONFIRM</span>
  </div>
  <div class="line-wrapper">
    <span class="progress-line"></span>
  </div>
</div>

<header class="wrapper">
    <div class="inner-wrapper">
      <img src="/assets/img/dummy-data/storelogo.png" alt="Store Logo">
    </div>
</header>

<form name="checkoutForm">
  <div class="wrapper tab" ng-init="getProduct()">    
      <h5>Purchased Items</h5> 
      <div class="inner-wrapper">
        <div class="row">
          <div class="col-md-5 col-xs-5">
            <img class="item-image" src={{productDetails.image_url[0]}} alt={{productDetails.name}}>
          </div>
          <div class="col-md-7 col-xs-7">
            <span class="text-label medium text-right">{{productDetails.name}}</span>
            <span class="text-label text-right">{{productDetails.price | mycurrency}}</span>
            <span class="text-label text-right" style="color: #3c763d"><strong>{{ productDetails.limitless ? 'Stock Available' : 'Available Stock : ' + productDetails.quantity }}</strong></span>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <span class="text-label">Quantity</span>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <number ng-model="productDetails.qty" max="{{productDetails.limitless ? 100000 : productDetails.quantity}}">
            </number>
          </div>
        </div>
        <div class="inner-wrapper inner-content" style="margin-top: 20px">
            <span class="text-label pull-left">TOTAL</span>
            <span class="text-label text-right">{{productDetails.totalAmount | mycurrency}}</span>
        </div>
      </div>
  </div>

  <div class="wrapper">
      <div class="inner-wrapper">
          <a ng-click="checkout()" class="btn btn-primary" style="width: 100%">CHECKOUT</a>
      </div>
  </div>
</form>
