<div class="wrapper tab">
  <h5 class="text-center">KONFIRMASI PEMBAYARAN</h5>
  <div class="inner-wrapper" ng-if="transactionDetails.payment_type == 'credit_card'" ng-class="transactionDetails.transaction_status == 'capture' ? 'bg-green' : 'bg-red'">
    <span class="text-label pull-left">Jenis Pembayaran : Kartu Kredit</span>
    <span class="text-label pull-right" ng-if="transactionDetails.transaction_status == 'capture'">Status Pembayaran : Sukses</span>
    <span class="text-label pull-right" ng-if="transactionDetails.transaction_status == 'deny'">Status Pembayaran : Gagal</span>
  </div>
  <div class="inner-wrapper" ng-if="transactionDetails.payment_type == 'bank_transfer'">
      <p align="center">Terima kasih telah memesan produk kami. Silahkan untuk menggunakan nomor Virtual Account berikut untuk pembayaran.</p>
      <span class="text-label big text-center">{{ transactionDetails.permata_va_number}}</span>
      <p align="center">dengan total pembayaran sejumlah</p>
      <span class="text-label medium text-center">{{ productDetails.totalAmount + serviceDetails.shippingCost | mycurrency }}</span>
      <p>Instruksi pembayaran untuk :</p>
      <div class="row no-margin text-center">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding" ng-click="instruction = 1">
          <div ng-class="instruction == 1 ? 'bg-orange' : 'bg-gray'" style="padding-top: 5px; padding-bottom: 5px;">
            <span class="text-label">BCA</span>
            <hr style="width: 90%; margin-top: 2px; margin-bottom: 2px" />
            <span class="text-label">Prima</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding" ng-click="instruction = 2">
          <div ng-class="instruction == 2 ? 'bg-orange' : 'bg-gray'" style="padding-top: 5px; padding-bottom: 5px;">
            <span class="text-label">Mandiri</span>
            <hr style="width: 90%; margin-top: 2px; margin-bottom: 2px" />
            <span class="text-label">ATM Bersama</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding" ng-click="instruction = 3">
          <div ng-class="instruction == 3 ? 'bg-orange' : 'bg-gray'" style="padding-top: 5px; padding-bottom: 5px;">
            <span class="text-label">Permata</span>
            <hr style="width: 90%; margin-top: 2px; margin-bottom: 2px" />
            <span class="text-label">Alto</span>
          </div>
        </div>
      </div>
      <br/>
      <div class="row no-margin animate-show" ng-show="instruction == 1">
        <span class="text-label">How to pay via ATM BCA/PRIMA network:</span><br/>
        <ol>
          <li>Masukkan PIN Anda.</li>
          <li>Di menu utama, Pilih <strong>'Transaksi Lainnya'.</strong></li>
          <li>Pilih <strong>'Transfer'</strong>.</li>
          <li>Pilih <strong>'Ke Rek Bank Lain'</strong>.</li>
          <li>Masukkan kode <strong>'013'</strong> untuk Bank Permata lalu tekan <strong>'Benar'</strong>.</li>
          <li>Masukkan jumlah harga yang akan Anda bayar secara lengkap (tanpa pembulatan), lalu tekan <strong>'Correct'</strong>. Penting: Jumlah nominal yang tidak sesuai dengan tagihan akan menyebabkan transaksi gagal.</li>
          <li>Masukkan (16 digit Nomor Rekening Pembayaran) lalu tekan <strong>'Benar'</strong>.</li>
          <li>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no.rekening tujuan. Jika informasinya telah cocok tekan <strong>'Benar'</strong>.</li>
          <li>Transaksi berhasil.</li>
        </ol>
      </div>
      <div class="row no-margin animate-show" ng-show="instruction == 2">
        <span class="text-label">How to pay via ATM Mandiri/ATM Bersama network:</span><br/>
        <ol>
          <li>Masukkan PIN Anda.</li>
          <li>Di menu utama, Pilih <strong>'Transaksi Lainnya'.</strong></li>
          <li>Pilih <strong>'Transfer'</strong>.</li>
          <li>Pilih <strong>'Antar Bank Online'</strong>.</li>
          <li>Masukkan kode <strong>'013'</strong> dan 16 digit Nomor Rekening.</li>
          <li>No. referensi dapat dikosongkan, lalu tekan <strong>'Benar'</strong></li>
          <li>Masukkan jumlah harga yang akan Anda bayar secara lengkap (tanpa pembulatan), lalu tekan <strong>'Correct'</strong>. Penting: Jumlah nominal yang tidak sesuai dengan tagihan akan menyebabkan transaksi gagal.</li>
          <li>Masukkan (16 digit Nomor Rekening Pembayaran) lalu tekan <strong>'Benar'</strong>.</li>
          <li>Di halaman konfirmasi transfer akan muncul jumlah yang dibayarkan, no.rekening tujuan. Jika informasinya telah cocok tekan <strong>'Benar'</strong>.</li>
          <li>Transaksi berhasil.</li>
        </ol>
      </div>
      <div class="row no-margin animate-show" ng-show="instruction == 3">
        <span class="text-label">How to pay via ATM BCA/PRIMA network:</span><br/>
        <ol>
          <li>Masukkan PIN Anda.</li>
          <li>Di menu utama, Pilih <strong>'Transaksi Lainnya'.</strong></li>
          <li>Pilih <strong>'Pembayaran'</strong>.</li>
          <li>Pilih <strong>'Pembayaran Lainnya'</strong>.</li>
          <li>Pilih <strong>'Virtual Account'</strong>.</li>
          <li>Masukkan (16 digit Nomor Rekening Pembayaran) lalu tekan <strong>'Benar'</strong>.</li>
          <li>Di halaman konfirmasi transfer akan muncul no.rekening tujuan. Jika informasinya telah cocok tekan <strong>'Benar'</strong>.</li>
          <li>Pilih rekening pembayaran Anda dan tekan Benar</li>
        </ol>
      </div>
      <div>

      </div>
  </div>
</div>

<div class="wrapper tab" ng-init="productToggle = false">
  <h5 ng-click="productToggle = !productToggle">INFORMASI PEMBELIAN<i class="fa pull-right" ng-class="productToggle ? 'fa-angle-up' : 'fa-angle-down'"></i></h5>
  <div class="inner-wrapper animate-show" ng-show="productToggle">
    <!-- Row 1 -->
    <div class="row item">
      <div class="col-md-5 col-xs-5">
        <img class="item-image" src={{productDetails.image_url[0]}} alt={{productDetails.name}}>
      </div>
      <div class="col-md-7 col-xs-7">
        <span class="text-label medium text-right">{{productDetails.name}}</span>
        <span class="text-label text-right">{{productDetails.price | mycurrency}}</span>
      </div>
    </div>

    <div class="row item">
      <div class="col-md-5 col-xs-5">
        <span class="text-label text-left">Biaya Pengiriman</span>        
      </div>
      <div class="col-md-7 col-xs-7">
        <span class="text-label text-right">{{ serviceDetails.shippingCost | mycurrency}}</span>        
      </div>
    </div>
    
    <hr class="hr-product"/>
    
    <!-- Row 3 -->
    <div class="row item">
      <div class="col-md-8 col-xs-6">
        <span class="text-label">Total</span>
      </div>
      <div class="col-md-4 col-xs-6">
        <span class="text-label text-right">{{ productDetails.totalAmount + serviceDetails.shippingCost | mycurrency }}</span>
      </div>
    </div>
  
  </div>

</div>

<div class="wrapper tab" ng-show="productDetails.need_address" ng-init="shippingToggle = false">
  <h5 ng-click="shippingToggle = !shippingToggle">INFORMASI PENGIRIMAN<i class="fa pull-right" ng-class="shippingToggle ? 'fa-angle-up' : 'fa-angle-down'"></i></h5>
  <div class="inner-wrapper animate-show" ng-show="shippingToggle">
    
    <p><span class="text-label big">{{ shippingDetails.full_name}}</span>
    {{ shippingDetails.address }} <br/>
    {{ shippingDetails.district.nama_kecamatan}}, {{shippingDetails.city.nama_kota}}, {{shippingDetails.province.nama_propinsi}}<br/>
    {{ "Phone : +62" + shippingDetails.phone_number }}</p>
                
  </div>

</div>

<div class="wrapper">
  <div class="inner-wrapper">
      <button class="btn btn-dark-gray" style="width: 100%"><i class="fa fa-arrow-circle-left"></i> Back to BBM</button>
  </div>  
</div>



