<form name="shippingForm" ng-submit="onSubmit()">
  <div class="wrapper tab">    
      <h5>UBAH INFORMASI PENGIRIMAN</h5> 
      <div class="inner-wrapper inner-content">
        <div class="error-box animate-blink" ng-show="errorMessageShipping">
            <div class="error-message">{{ errorMessageShipping }}</div>
        </div>
      </div>
      <div class="inner-wrapper inner-content">  
            <div class="form-group">
              <span class="text-label">NAMA PENERIMA</span>
              <div class="right-inner-addon">
                <input type="text" class="form-control" name="firstname" ng-model="shippingDetails.full_name" required>
                <div ng-show="shippingForm.$submitted || shippingForm.firstname.$touched">
                  <i class="glyphicon glyphicon-ok" ng-show="shippingForm.firstname.$valid"></i>
                  <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.firstname.$valid"></i>
                  <span class="error-message" ng-show="shippingForm.firstname.$error.required">Nama harus diisi.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <span class="text-label">EMAIL</span>
              <div class="right-inner-addon">
                <input type="text" class="form-control" name="email" ng-model="$parent.shippingDetails.email" validation-type="email" required>
                <div ng-show="shippingForm.$submitted || shippingForm.email.$touched">
                  <i class="glyphicon glyphicon-ok" ng-show="shippingForm.email.$valid"></i>
                  <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.email.$valid"></i>
                  <span class="error-message" ng-show="shippingForm.email.$error.required">Email harus diisi.</span>
                  <span class="error-message" ng-show="shippingForm.email.$error.email">Email tidak valid. Contoh email yang benar : danny@gmail.com.</span>
                </div>
              </div>
              <p align="justify">Gunakan alamat email yang aktif untuk menerima notifikasi pembayaran dan pengiriman barang.</p>  
            </div>
            <div class="form-group">
              <span class="text-label">NO. TELP / HP PENERIMA</span>
              <div class="right-inner-addon">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">+62</span>
                  <input type="text" class="form-control" name="phonenumber" maxlength="11" ng-model="shippingDetails.phone_number" validation-type="phonenumber" required>
                </div>
                <div ng-show="shippingForm.$submitted || shippingForm.phonenumber.$touched">
                  <i class="glyphicon glyphicon-ok" ng-show="shippingForm.phonenumber.$valid"></i>
                  <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.phonenumber.$valid"></i>
                  <span class="error-message" ng-show="shippingForm.phonenumber.$error.required">No. Telp / HP harus diisi</span>
                  <span class="error-message" ng-show="shippingForm.phonenumber.$error.phonenumber">No. Telp / HP tidak valid.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <span class="text-label">ALAMAT TUJUAN</span>
              <div class="right-inner-addon">
                <textarea rows="4" class="form-control" name="address" ng-model="shippingDetails.address" required></textarea>
                <div ng-show="shippingForm.$submitted || shippingForm.address.$touched">
                  <i class="glyphicon glyphicon-ok" ng-show="shippingForm.address.$valid"></i>
                  <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.address.$valid"></i>
                  <span class="error-message" ng-show="shippingForm.address.$error.required">Alamat harus diisi.</span>
                </div>
              </div>
            </div>
            <div class="form-group" ng-init="getProvinceList()">
              <span class="text-label">PROVINSI</span>
                <div class="right-inner-addon">
                  <select name="province" ng-model="shippingDetails.province" ng-change="getCityList()" ng-options="province.nama_propinsi for province in provinces | orderBy: 'nama_propinsi'" required>
                    
                  </select>
                  <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                  <div ng-show="shippingForm.$submitted || shippingForm.province.$touched">
                    <span class="error-message" ng-show="shippingForm.province.$error.required">Pilih provinsi tujuan Anda.</span>
                  </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'disabled': !shippingDetails.province }">
              <span class="text-label">KOTA</span>
                <div class="right-inner-addon">
                  <select name="city" ng-model="shippingDetails.city" ng-change="getDistrictList()" ng-options="city.nama_kota for city in cities.kota | orderBy: 'nama_kota'" ng-disabled="!shippingDetails.province" required>
                  </select>
                  <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                  <div ng-show="shippingForm.$submitted || shippingForm.city.$touched">
                    <span class="error-message" ng-show="shippingForm.city.$error.required">Pilih kota tujuan Anda.</span>
                  </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'disabled': !shippingDetails.city }">
              <span class="text-label">KECAMATAN</span>
                <div class="right-inner-addon">
                  <select name="district" ng-model="shippingDetails.district" ng-options="district.nama_kecamatan for district in districts.kecamatan | orderBy: 'nama_kecamatan'"  ng-disabled="!shippingDetails.city" required>
                  </select>
                  <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                  <div ng-show="shippingForm.$submitted || shippingForm.district.$touched">
                    <span class="error-message" ng-show="shippingForm.district.$error.required">Pilih kecamatan tujuan Anda.</span>
                  </div>
              </div>
            </div>
            <div class="form-group">
                <span class="text-label">KODE POS</span>
                <div class="right-inner-addon">
                  <input type="text" class="form-control" name="postalcode" ng-model="shippingDetails.postal_code" validation-type="postalcode" maxlength="5" required>
                  <div ng-show="shippingForm.$submitted || shippingForm.postalcode.$touched">
                    <i class="glyphicon glyphicon-ok" ng-show="shippingForm.postalcode.$valid"></i>
                    <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.postalcode.$valid"></i>
                    <span class="error-message" ng-show="shippingForm.postalcode.$error.required">Kode Pos harus diisi.</span>
                    <span class="error-message" ng-show="shippingForm.postalcode.$error.postalcode">Kode Pos harus terdiri dari 5 digit angka.</span>
                  </div>
                </div>
            </div>
        
      </div>
  </div>

  <div class="wrapper">
      <div class="inner-wrapper">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
            <a ui-sref="payment.shippingDetails" class="btn btn-default pull-left" style="width: 90%">KEMBALI</a>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
            <input type="submit" class="btn btn-primary pull-right" style="width: 90%" value="SIMPAN & LANJUT" />
          </div>
      </div>
  </div>
</form>