<form name="form" ng-submit="onSubmit()" novalidate>

  <div class="wrapper" ng-init="amountToggle = false">
      <div class="inner-wrapper vertical-align" ng-click="amountToggle = !amountToggle">
        <div class=" col-xs-7 col-md-8 no-padding">
          <span class="text-label">TOTAL PEMBAYARAN</span>
          <span class="text-label medium" ng-cloak>{{ productDetails.price | mycurrency}}</span>
        </div>
        <div class=" col-xs-5 col-md-4 no-padding">
          <i class="fa fa-2x pull-right" ng-class="amountToggle ? 'fa-angle-up' : 'fa-angle-down'" style="margin-right:20px"></i>
        </div>
      </div>

    <!-- Purchased Items -->
    <div class="hidden-content animate-show" ng-show="amountToggle">
      <div class="inner-wrapper" ng-cloak>

        <!-- Row 1 -->
        <div class="row">
          <div class="col-md-5 col-xs-5">
            <img class="item-image" src={{productDetails.image_url[0]}} alt={{productDetails.name}}>
          </div>
          <div class="col-md-7 col-xs-7">
            <span class="text-label medium text-right">{{ productDetails.name }}</span>
            <span class="text-label text-right">{{ productDetails.description }}</span>
            <span class="text-label medium text-right">{{productDetails.price | mycurrency}}</span>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="wrapper tab">
    <ng-form name="customerForm" ng-if="arrayOfShippingDetails.length == 0">
      <div class="tab">    
        <h5>INFORMASI PELANGGAN</h5> 
        <div class="inner-wrapper inner-content">
          <div class="error-box animate-blink" ng-show="errorMessage">
            <div class="error-message">{{ errorMessage }}</div>
          </div>
          <p align="justify">Selamat datang di layanan BBM Pay. Silahkan isi data diri berikut.</p>
              <div class="form-group">
                <span class="text-label">NAMA</span>
                <div class="right-inner-addon">
                  <input type="text" class="form-control" name="fullname" ng-model="$parent.customerDetails.full_name" required>
                  <div ng-show="customerForm.$submitted || customerForm.fullname.$touched">
                    <i class="glyphicon glyphicon-ok" ng-show="customerForm.fullname.$valid"></i>
                    <i class="glyphicon glyphicon-remove" ng-show="!customerForm.fullname.$valid"></i>
                    <span class="error-message" ng-show="customerForm.fullname.$error.required">Nama harus diisi.</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <span class="text-label">EMAIL</span>
                <div class="right-inner-addon">
                  <input type="text" class="form-control" name="email" ng-model="$parent.customerDetails.email" validation-type="email" required>
                  <div ng-show="customerForm.$submitted || customerForm.email.$touched">
                    <i class="glyphicon glyphicon-ok" ng-show="customerForm.email.$valid"></i>
                    <i class="glyphicon glyphicon-remove" ng-show="!customerForm.email.$valid"></i>
                    <span class="error-message" ng-show="customerForm.email.$error.required">Email harus diisi.</span>
                    <span class="error-message" ng-show="customerForm.email.$error.email">Email tidak valid. Contoh email yang benar : danny@gmail.com.</span>
                  </div>
                </div>
                <p align="justify">Gunakan alamat email yang aktif untuk menerima notifikasi pembayaran dan pengiriman barang.</p>  
              </div>
              <div class="form-group">
                <span class="text-label">NO. TELP / HP</span>
                <div class="right-inner-addon">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">+62</span>
                    <input type="text" class="form-control" name="phonenumber" maxlength="11" ng-model="$parent.customerDetails.phone_number" validation-type="phonenumber" required>
                  </div>
                  <div ng-show="customerForm.$submitted || customerForm.phonenumber.$touched">
                    <i class="glyphicon glyphicon-ok" ng-show="customerForm.phonenumber.$valid"></i>
                    <i class="glyphicon glyphicon-remove" ng-show="!customerForm.phonenumber.$valid"></i>
                    <span class="error-message" ng-show="customerForm.phonenumber.$error.required">No. telp harus diisi.</span>
                    <span class="error-message" ng-show="customerForm.phonenumber.$error.phonenumber">No. telp tidak valid.</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="checkbox" name="expressPayment" ng-init="customerDetails.expressPayment = true" ng-model="customerDetails.expressPayment">
                <span>Saya ingin menyimpan <strong>informasi pelanggan</strong> dan <strong>informasi pengiriman</strong> untuk transaksi selanjutnya</span> 
               
              </div>

          </div>
      </div>
    </ng-form>
    <ng-form name="shippingForm" ng-if="productDetails.need_address" ng-init="changeAddressToggle = false">
      <div class="tab middle">    
        <h5>INFORMASI PENGIRIMAN</h5>
        <div id="error-message-shipping" class="inner-wrapper inner-content" ng-show="errorMessageShipping">
          <div class="error-box animate-blink">
              <div class="error-message">{{ errorMessageShipping }}</div>
          </div>
        </div>
        <div class="inner-wrapper inner-content" ng-if="arrayOfShippingDetails.length == 0">
            <div class="form-group">
              <span class="text-label">NAMA PENERIMA</span>
              <div class="right-inner-addon">
                <input type="text" class="form-control" name="firstname" ng-model="$parent.$parent.shippingDetails.full_name" required>
                <div ng-show="shippingForm.$submitted || shippingForm.firstname.$touched">
                  <i class="glyphicon glyphicon-ok" ng-show="shippingForm.firstname.$valid"></i>
                  <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.firstname.$valid"></i>
                  <span class="error-message" ng-show="shippingForm.firstname.$error.required">Nama harus diisi.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <span class="text-label">NO. TELP / HP PENERIMA</span>
              <div class="right-inner-addon">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">+62</span>
                  <input type="text" class="form-control" name="phonenumber" maxlength="11" ng-model="$parent.$parent.shippingDetails.phone_number" validation-type="phonenumber" required>
                </div>
                <div ng-show="shippingForm.$submitted || shippingForm.phonenumber.$touched">
                  <i class="glyphicon glyphicon-ok" ng-show="shippingForm.phonenumber.$valid"></i>
                  <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.phonenumber.$valid"></i>
                  <span class="error-message" ng-show="shippingForm.phonenumber.$error.required">No. Telp / HP harus diisi</span>
                  <span class="error-message" ng-show="shippingForm.phonenumber.$error.phonenumber">No. Telp / HP tidak valid.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <span class="text-label">ALAMAT TUJUAN</span>
              <div class="right-inner-addon">
                <textarea rows="4" class="form-control" name="address" ng-model="$parent.$parent.shippingDetails.address" required></textarea>
                <div ng-show="shippingForm.$submitted || shippingForm.address.$touched">
                  <i class="glyphicon glyphicon-ok" ng-show="shippingForm.address.$valid"></i>
                  <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.address.$valid"></i>
                  <span class="error-message" ng-show="shippingForm.address.$error.required">Alamat harus diisi.</span>
                </div>
              </div>
            </div>
            <div class="form-group" ng-init="getProvinceList()">
              <span class="text-label">PROVINSI</span>
                <div class="right-inner-addon">
                  <select name="province" ng-model="$parent.$parent.shippingDetails.province" ng-change="getCityList()" ng-options="province.nama_propinsi for province in provinces | orderBy: 'nama_propinsi'" required>
                    
                  </select>
                  <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                  <div ng-show="shippingForm.$submitted || shippingForm.province.$touched">
                    <span class="error-message" ng-show="shippingForm.province.$error.required">Pilih provinsi tujuan Anda.</span>
                  </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'disabled': !$parent.$parent.shippingDetails.province }">
              <span class="text-label">KOTA</span>
                <div class="right-inner-addon">
                  <select name="city" ng-model="$parent.$parent.shippingDetails.city" ng-change="getDistrictList()" ng-options="city.nama_kota for city in cities.kota | orderBy: 'nama_kota'" ng-disabled="!$parent.$parent.shippingDetails.province" required>
                  </select>
                  <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                  <div ng-show="shippingForm.$submitted || shippingForm.city.$touched">
                    <span class="error-message" ng-show="shippingForm.city.$error.required">Pilih kota tujuan Anda.</span>
                  </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'disabled': !$parent.$parent.shippingDetails.city }">
              <span class="text-label">KECAMATAN</span>
                <div class="right-inner-addon">
                  <select name="district" ng-model="$parent.$parent.shippingDetails.district" ng-change="getFare($parent.$parent.shippingDetails)" ng-options="district.nama_kecamatan for district in districts.kecamatan | orderBy: 'nama_kecamatan'"  ng-disabled="!$parent.$parent.shippingDetails.city" required>
                  </select>
                  <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                  <div ng-show="shippingForm.$submitted || shippingForm.district.$touched">
                    <span class="error-message" ng-show="shippingForm.district.$error.required">Pilih kecamatan tujuan Anda.</span>
                  </div>
              </div>
            </div>
            <div class="form-group">
                <span class="text-label">KODE POS</span>
                <div class="right-inner-addon">
                  <input type="text" class="form-control" name="postalcode" ng-model="$parent.$parent.shippingDetails.postal_code" validation-type="postalcode" required>
                  <div ng-show="shippingForm.$submitted || shippingForm.postalcode.$touched">
                    <i class="glyphicon glyphicon-ok" ng-show="shippingForm.postalcode.$valid"></i>
                    <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.postalcode.$valid"></i>
                    <span class="error-message" ng-show="shippingForm.postalcode.$error.required">Kode Pos harus diisi.</span>
                    <span class="error-message" ng-show="shippingForm.postalcode.$error.postalcode">Kode Pos harus terdiri dari 5 digit angka.</span>
                  </div>
                </div>
            </div>

        </div>

        <div class="inner-wrapper inner-content" ng-if="arrayOfShippingDetails.length > 0" ng-init="getFare(shippingDetails)">

          <div ng-show="!changeAddressToggle">
            <span class="text-label big">{{shippingDetails.full_name}}</span>
            <p>{{shippingDetails.address}}<br/>{{shippingDetails.district.nama_kecamatan}}, {{shippingDetails.city.nama_kota}}<br/>{{shippingDetails.province.nama_propinsi}}, Indonesia, {{shippingDetails.postal_code}}<br/>Tel. +62{{shippingDetails.phone_number}}</p>
            <small><button type="button" ng-click="changeAddressToggle = !changeAddressToggle" class="btn btn-default">GANTI ALAMAT</button></small>
          </div>

          <div class="animate-show" ng-show="changeAddressToggle">
            <p>Pilih alamat lain :</p>

            <div ng-repeat="shippingDetail in arrayOfShippingDetails track by $index">
              <input type="radio" id="{{$index}}" name="radio" ng-model="$parent.$parent.$parent.selectedShippingDetails" ng-value="$index"/>   
              <label for="{{$index}}">
                <span class="text-label big">{{shippingDetail.full_name}}</span>
                <p>{{shippingDetail.address}}<br/>{{shippingDetail.district.nama_kecamatan}}, {{shippingDetail.city.nama_kota}}<br/>{{shippingDetail.province.nama_propinsi}}, Indonesia, {{shippingDetail.postal_code}}<br/>Tel. +62{{shippingDetail.phone_number}}</p>
                <small><small><button type="button" class="btn btn-default" ng-click="editShippingDetails($index)">EDIT ADDRESS</button></small></small>
                <small><small><button type="button" class="btn btn-default" ng-click="deleteShippingDetails($index)">DELETE ADDRESS</button></small></small>
              </label>
            </div>

            <div>
              <input type="radio" id="new-address" name="radio" ng-model="$parent.$parent.selectedShippingDetails" ng-value="-1" />   
              <label for="new-address">Tambah Alamat Baru</label>
            </div>

            <div class="animate-show" ng-show="selectedShippingDetails == -1">
              <div class="form-group">
                <span class="text-label">NAMA PENERIMA</span>
                <div class="right-inner-addon">
                  <input type="text" class="form-control" name="firstname" ng-model="$parent.$parent.shippingDetails.full_name" required>
                  <div ng-show="$parent.$parent.shippingForm.$submitted || shippingForm.firstname.$touched">
                    <i class="glyphicon glyphicon-ok" ng-show="shippingForm.firstname.$valid"></i>
                    <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.firstname.$valid"></i>
                    <span class="error-message" ng-show="shippingForm.firstname.$error.required">Nama harus diisi.</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <span class="text-label">NO. TELP / HP PENERIMA</span>
                <div class="right-inner-addon">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">+62</span>
                    <input type="text" class="form-control" name="phonenumber" maxlength="11" ng-model="$parent.$parent.shippingDetails.phone_number" validation-type="phonenumber" required>
                  </div>
                  <div ng-show="shippingForm.$submitted || shippingForm.phonenumber.$touched">
                    <i class="glyphicon glyphicon-ok" ng-show="shippingForm.phonenumber.$valid"></i>
                    <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.phonenumber.$valid"></i>
                    <span class="error-message" ng-show="shippingForm.phonenumber.$error.required">No. Telp / HP harus diisi</span>
                    <span class="error-message" ng-show="shippingForm.phonenumber.$error.phonenumber">No. Telp / HP tidak valid.</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <span class="text-label">ALAMAT TUJUAN</span>
                <div class="right-inner-addon">
                  <textarea rows="4" class="form-control" name="address" ng-model="$parent.$parent.shippingDetails.address" required></textarea>
                  <div ng-show="shippingForm.$submitted || shippingForm.address.$touched">
                    <i class="glyphicon glyphicon-ok" ng-show="shippingForm.address.$valid"></i>
                    <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.address.$valid"></i>
                    <span class="error-message" ng-show="shippingForm.address.$error.required">Alamat harus diisi.</span>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-init="getProvinceList()">
                <span class="text-label">PROVINSI</span>
                  <div class="right-inner-addon">
                    <select name="province" ng-model="$parent.$parent.shippingDetails.province" ng-change="getCityList()" ng-options="province.nama_propinsi for province in provinces | orderBy: 'nama_propinsi'" required>
                      
                    </select>
                    <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                    <div ng-show="shippingForm.$submitted || shippingForm.province.$touched">
                      <span class="error-message" ng-show="shippingForm.province.$error.required">Pilih provinsi tujuan Anda.</span>
                    </div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'disabled': !$parent.$parent.shippingDetails.province }">
                <span class="text-label">KOTA</span>
                  <div class="right-inner-addon">
                    <select name="city" ng-model="$parent.$parent.shippingDetails.city" ng-change="getDistrictList()" ng-options="city.nama_kota for city in cities.kota | orderBy: 'nama_kota'" ng-disabled="!$parent.$parent.shippingDetails.province" required>
                    </select>
                    <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                    <div ng-show="shippingForm.$submitted || shippingForm.city.$touched">
                      <span class="error-message" ng-show="shippingForm.city.$error.required">Pilih kota tujuan Anda.</span>
                    </div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'disabled': !$parent.$parent.shippingDetails.city }">
                <span class="text-label">KECAMATAN</span>
                  <div class="right-inner-addon">
                    <select name="district" ng-model="$parent.$parent.shippingDetails.district" ng-change="getFare($parent.$parent.shippingDetails)" ng-options="district.nama_kecamatan for district in districts.kecamatan | orderBy: 'nama_kecamatan'"  ng-disabled="!$parent.$parent.shippingDetails.city" required>
                    </select>
                    <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                    <div ng-show="shippingForm.$submitted || shippingForm.district.$touched">
                      <span class="error-message" ng-show="shippingForm.district.$error.required">Pilih kecamatan tujuan Anda.</span>
                    </div>
                </div>
              </div>
              <div class="form-group">
                  <span class="text-label">KODE POS</span>
                  <div class="right-inner-addon">
                    <input type="text" class="form-control" name="postalcode" ng-model="$parent.$parent.shippingDetails.postal_code" validation-type="postalcode" required>
                    <div ng-show="shippingForm.$submitted || shippingForm.postalcode.$touched">
                      <i class="glyphicon glyphicon-ok" ng-show="shippingForm.postalcode.$valid"></i>
                      <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.postalcode.$valid"></i>
                      <span class="error-message" ng-show="shippingForm.postalcode.$error.required">Kode Pos harus diisi.</span>
                      <span class="error-message" ng-show="shippingForm.postalcode.$error.postalcode">Kode Pos harus terdiri dari 5 digit angka.</span>
                    </div>
                  </div>
              </div>

            </div>
           

          </div>

        </div>

        <div class="inner-wrapper inner-content animate-show" ng-show="servicePackageList">
          <hr style="margin: 10px 0; border-top: 1px solid #858585"/>
        
          <div class="vertical-align" style="justify-content: flex-start">
            <div style="display: inline-block">
              <span class="shipping-logo jne"></span>
              <span class="vertical-line"></span>
            </div>
            <div style="display: inline-block">
              <span class="text-label">Biaya Pengiriman</span> 
              <span class="text-label big" ng-show="serviceDetails.servicePackage">{{ serviceDetails.insurance ? serviceDetails.servicePackage.service_fare_with_issurance : serviceDetails.servicePackage.service_fare | mycurrency}}</span>
              <span class="text-label big" ng-hide="serviceDetails.servicePackage" loading="false">-</span>
              <span class="fa fa-2x fa-spinner fa-pulse" loading="true"></span>
            </div>
            
          </div>
          
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group" ng-class="{ 'disabled': !shippingDetails.district }">  
                <span class="text-label animate-show">Paket Pengiriman :</span>
                <div class="right-inner-addon">
                  <select name="servicePackage" ng-model="serviceDetails.servicePackage" ng-options="servicePackage.service_name for servicePackage in servicePackageList" ng-disabled="!shippingDetails.district" required>
                    
                  </select>
                  <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                  <div ng-show="form.shippingForm.$submitted || form.shippingForm.servicePackage.$touched">
                    <span class="error-message" ng-show="form.shippingForm.servicePackage.$error.required">Please select your package.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group" ng-class="{ 'disabled': !serviceDetails.servicePackage }">  
                <span class="text-label animate-float-left">Asuransi :
                </span>
                <div class="right-inner-addon">
                  <select name="insurance" ng-init="serviceDetails.insurance = false" ng-model="serviceDetails.insurance" ng-options="o.v as o.n for o in [{ n: 'Ya', v: true }, { n: 'Tidak', v: false }]" ng-disabled="!serviceDetails.servicePackage" required>

                  </select>
                  <i class="glyphicon glyphicon-triangle-bottom border-left"></i>
                  <div ng-show="form.shippingForm.$submitted || form.shippingForm.insurance.$touched">
                    <span class="error-message" ng-show="form.shippingForm.insurance.$error.required">Please select insurance.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </ng-form>
  </div>

  <div class="wrapper">
      <div class="inner-wrapper">
          <a ui-sref="payment.checkout({productId: '{{productDetails.id}}'})" class="btn btn-default pull-left" style="width: 48%">KEMBALI</a>
          <input type="submit" class="btn btn-primary pull-right" style="width: 48%" value="LANJUT" />
      </div>
  </div>

</form>
