<form name="checkoutForm">
  <div class="wrapper tab" ng-init="getProduct()">    
      <h5>DETIL ORDER</h5> 
      <div class="inner-wrapper">
        <div class="row">
          <div class="col-md-5 col-xs-6">
            <img class="item-image" src={{productDetails.image_url[0]}} alt={{productDetails.name}}>
          </div>
          <div class="col-md-7 col-xs-6">
            <span class="text-label medium text-right">{{productDetails.name}}</span>
            <p class="text-label text-right">{{productDetails.description}}</p>
          </div>
        </div>
        <div class="inner-wrapper inner-content" style="margin-top: 20px" ng-if="productDetails.quantity > 0">
            <span class="text-label pull-left"><strong>HARGA</strong></span>
            <span class="text-label text-right"><strong>{{productDetails.price | mycurrency}}</strong></span>
        </div>
      </div>
  </div>

  <div class="wrapper">
      <div class="inner-wrapper">
          <button ng-click="checkout()" class="btn btn-primary" style="width: 100%" ng-if="productDetails.quantity > 0">Lanjutkan ke pembayaran</button>
          <button ng-click="checkout()" class="btn btn-danger" style="width: 100%" ng-if="productDetails.quantity == 0" ng-disabled="true">HABIS TERJUAL</button>
      </div>
  </div>
</form>
